@import "https://fonts.googleapis.com/css?family=Muli";

body{
  
  background-color: rgba(0,0,0,255);
  color: #fff;
  font-family:'Muli',Helvetica,sans-serif,Verdana;
  font-size: 200%;
  text-align: left;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 0.25em;
  font-variant: small-caps;
  vertical-align:center;
}

.main {
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
  min-width: 700px;
  align-self: center;
  align-elements: center;
}

#pattern {
  height: 1.5em;
  vertical-align: middle;
}

img {
  display: inline-block;
  max-width:100%;
  vertical-align: middle;
}
